* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Barlow';
} */


/* HERO Section */
.hero {
    /* height: 68vh; */
    background-image: url("/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center top 100%;
    background-size: cover;
    height: 69vh;
    color: white;
}

.top {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
}

.top h2 {
    font-family: 'Barlow';
}

.top h2,
.hamburger-icon {
    margin-top: 5%;
}

.menu {
    display: none;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 18px;
}

.menu.active {
    display: block;
    position: absolute;
    top: 15%;
    right: 6%;
    width: 88%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 98;
    background-color: white;
    cursor: pointer;
}

.menu ul li a:hover {
    background: hsl(51, 100%, 49%);
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.tri {
    position: absolute;
    top: -19%;
    right: 0;
    width: 0;
    height: 28%;
    border-top: 50px solid white;
    border-left: 50px solid transparent;
    transform: scaleY(-1);
}

.bar {
    width: 28px;
    height: 2px;
    margin: 6px 0;
    background-color: white;
}

.hero-text {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18.5%;
}

.we-are {
    display: flex;
    width: 100%;
    justify-content: center;
}

.we-are h1 {
    text-align: center;
    flex-basis: 50%;
    word-wrap: break-word;
    font-family: 'Fraunces';
    font-weight: 900;
    letter-spacing: .2em;
}

.hero-text svg {
    margin-top: 5%;
}

/* TRANSFORM */
.transform {
    display: flex;
    flex-direction: column;
}

.egg-dkt {
    display: none;
}

.transform-text {
    height: 440px;
    padding: 13% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hidden,
.gallry-dktp {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.5s;
    /* transition: all .5s ease-out; */
}


.animate {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 1;
}

.transform-text p {
    text-align: center;
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 1.1em;
    line-height: 1.5em;
    color: hsl(232, 10%, 55%);
}

.tr-learn-more {
    font-family: 'Fraunces';
    font-size: 15px;
    position: relative;
}

.tr-learn-more::after {
    content: "";
    position: absolute;
    left: -9px;
    right: -9px;
    bottom: 8px;
    height: 10px;
    box-shadow: 0px 10px 2px #fef1bb;
    border-radius: 10px;
    z-index: -1;
}



.st-learn-more {
    font-family: 'Fraunces';
    font-size: 15px;
    position: relative;
}

.st-learn-more::after {
    content: "";
    position: absolute;
    left: -9px;
    right: -9px;
    bottom: 8px;
    height: 10px;
    box-shadow: 0px 10px 2px #fddad1;
    border-radius: 10px;
    z-index: -1;
}


.h2s {
    display: flex;
    width: 100%;
    justify-content: center;
}

.h2s h2 {
    text-align: center;
    font-family: 'Fraunces';
    font-weight: 800;
    font-size: 2.1em;
}

/* STAND OUT */
.stand-out {
    display: flex;
    flex-direction: column;
}

.stand-out-text {
    height: 440px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.stand-out-text p {
    text-align: center;
    font-family: 'Barlow';
    font-weight: 800;
    font-size: 1.1em;
    line-height: 1.7em;
    color: hsl(232, 10%, 55%);
}

/* GRAPHIC DESIGN */
.graphic-design {
    height: 600px;
    background-image: url("/images/mobile/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.gd-text {
    height: 35%;
    margin: 3% 5%;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-evenly;
    color: hsl(167, 40%, 24%);
}

.gd-text h2 {
    font-family: 'Fraunces';
    font-size: 1.7rem;
}

.gd-text p {
    text-align: center;
    font-family: 'Barlow';
    font-size: 1.01em;
    line-height: 1.5em;
}

/* PHOTOGRAPHY */
.photography {
    height: 600px;
    background-image: url("/images/mobile/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.p-text {
    height: 30%;
    margin: 10% 3%;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    justify-content: space-evenly;
    color: hsl(198, 62%, 26%);
}

.gd-text h2 {
    font-family: 'Fraunces';
}

.p-text p {
    text-align: center;
    font-family: 'Barlow';
    font-size: 1.1em;
    line-height: 1.5em;
}

/* TESTMONIALS */
.testmonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-cont {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

.testmonials h3 {
    margin-top: 15%;
    font-family: 'Fraunces';
    font-size: 1em;
    letter-spacing: .3em;
    color: #a6a9a8;
}

.clients {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    padding: 10%;
}

.testimony {
    text-align: center;
    font-family: 'Barlow';
    font-size: 1.2em;
    line-height: 1.6em;
    color: hsl(213, 9%, 39%);
}

.clients img {
    height: 75px;
    border-radius: 50%;
}

.cdtls {
    /* background: skyblue; */
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.c-name {
    font-family: 'Fraunces';
}

.gray-out {
    color: hsl(210, 4%, 67%);
    font-family: 'Barlow';
    font-size: 14px;
    font-weight: 700;
}

/* GALLERY */
.gallry-dktp {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery img {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: hsl(232, 10%, 55%);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #90d4c5;
}

footer h2 {
    color: #2c7466;
    font-family: 'Barlow';
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
}

footer ul li a {
    text-decoration: none;
    color: #539788;
    font-family: 'Barlow';
}

.socials {
    display: inherit;
    width: 50%;
    justify-content: space-evenly;
}

footer ul li a:hover {
    color: white;
}

.socials svg:hover {
    background-color: white;
    cursor: pointer;
}

.learn-more:hover,
.learn-more:hover {
    cursor: pointer;
    text-decoration-color: hsl(7, 99%, 70%);
    /* border-bottom: 8px solid #ffd101; */
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url("/images/desktop/image-header.jpg");
        height: 50vh;
    }

    .we-are h1 {
        font-size: 45px;
        flex-basis: unset;
    }

    .top {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }

    .top h2 {
        margin-top: 0;
    }


    .menu {
        display: block;
        width: 50%;
        margin-top: 4%;
        height: 100%;
    }

    .menu {
        display: block;
    }

    .menu ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .menu ul li a {
        font-size: 17px;
        text-decoration: none;
        color: white;
        /* background-color: #90d4c5; */
    }

    .hamburger-icon,
    .tri {
        display: none;
    }

    .menu.active {
        display: none;
    }

    .hero-text {
        margin-top: 3%;
    }

    .hero-text svg {
        margin-top: 5%;
    }

    .menu ul li a:hover {
        background: white;
        color: black;
        padding: 10px;
        border-radius: 20px;
    }

    .transform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        position: relative;
    }

    .egg-dkt {
        display: block;
    }

    .egg-m {
        display: block;
    }

    .transform-text {
        grid-column: 1;
        grid-row: 1;
        padding: 0 10%;
    }

    .transform img {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }


    .transform-text p,
    .stand-out-text p {
        font-size: 1em;
    }

    .stand-out-text {
        height: 300px;
    }

    .transform-text span,
    .stand-out-text span {
        font-weight: 700;
        font-size: 12px;
    }

    .transform-text p,
    .stand-out-text p,
    .gd-text p,
    .p-text p {
        font-family: 'Barlow';
        /* font-weight: 600; */
    }

    .stand-out {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .stand-out img {
        width: 100%;
    }

    .transform-text,
    .stand-out-text {
        align-items: flex-start;
        margin-left: 6%;
    }

    .h2s {
        justify-content: flex-start;
    }

    .h2s h2 {
        flex-basis: unset;
        word-wrap: normal;
        font-size: 20px;
    }

    .h2s h2,
    .transform-text p,
    .stand-out-text p {
        text-align: start;
    }


    .graphic-design {
        float: left;
        background-image: url('/images/desktop/image-graphic-design.jpg');
        /* background-size: cover; */
        background-position: center;
        height: 400px;
        width: 50%;
    }

    .gd-text {
        margin: 0% 10% 7%;
    }

    .photography {
        background-image: url("/images/desktop/image-photography.jpg");
        /* background-size: cover; */
        background-position: center;
        height: 400px;
    }

    .p-text {
        margin: 10%;
    }

    .client-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 400px;
    }

    .clients {
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
    }

    .testmonials h3 {
        margin-top: 7%;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    footer ul {
        width: 40%;
    }

    .socials {
        width: 30%;
    }

    .gallery-m {
        display: none;
    }

    .gallry-dktp {
        display: block;
    }
}

@media screen and (min-width:1000px) and (max-width:1400px) {
    .hero {
        height: 83vh;
    }

    .we-are h1 {
        font-size: 50px;
    }

    .h2s h2 {
        font-size: 35px;
    }

    .transform-text {
        padding: 10% 12%;
        justify-content: space-evenly;
    }

    .transform-text p {
        font-size: 18px;
    }

    .transform-text span {
        font-size: 17px;
    }

    .stand-out {
        justify-content: center;
        /* background-color: #90d4c5; */
    }

    .stand-out-text {
        height: 100%;
        padding: 10% 10%
    }

    .stand-out-text p {
        font-size: 18px;
    }

    .stand-out-text span {
        font-size: 17px;
    }

    .graphic-design {
        background-size: cover;
        height: 470px;
    }

    .photography {
        background-size: cover;
        height: 470px;
    }

    .gd-text,
    .p-text {
        padding: 0 7%;
    }

    footer ul {
        width: 30%;
    }

    .socials {
        width: 25%;
    }
}


@media screen and (min-width:1440px) {
    .hero {
        height: 100vh;
    }

    .menu {
        margin-top: 2%;
    }

    .hero-text {
        margin-top: 5%;
        /* background-color: #90d4c5; */
    }

    .hero-text svg {
        margin-top: 8%;
    }

    .h2s h2 {
        font-size: 50px;
    }

    .transform-text {
        padding: 0% 20% 0 20%;
        justify-content: center;
        height: 700px;
    }

    .transform-text p {
        font-size: 25px;
        margin-top: 20%;
    }

    .transform-text span {
        font-size: 19px;
        margin-top: 20%;
    }

    .stand-out {
        justify-content: center;
        /* background-color: #90d4c5; */
    }

    .stand-out-text {
        height: 100%;
        padding: 0% 18% 0 18%
    }

    .stand-out-text p {
        font-size: 25px;
    }

    .stand-out-text span {
        font-size: 20px;
    }

    .graphic-design {
        height: 600px;
    }

    .gd-text {
        height: 20%;
        padding: 9%;
    }

    .gd-text h2,
    .p-text h2 {
        font-size: 40px;
    }

    .gd-text p,
    .p-text p {
        font-size: 25px;
        margin-top: 5%;
    }

    .photography {
        height: 600px;
    }

    .p-text {
        height: 20%;
        padding: 9%;
    }

    .p-text h2 footer ul {
        width: 30%;
    }

    .socials {
        width: 25%;
    }

    .testmonials {
        height: 650px;
    }

    .client-cont {
        margin-top: 2%;
    }

    .clients {
        padding: 0 10%;
    }

    .clients p {
        font-size: 25px;
    }

    footer ul {
        width: 18%;
    }

    .socials {
        width: 15%;
    }
}